@{
    ViewBag.Title = "Profile";
    ViewBag.PageId = "Profile";
}









<input type="hidden" id="userId" value=@ViewBag.userId>

<div class="row">
    

    <div class="col-lg-12 col-md-12" id="friends_display_wrap">

        <h2>Connections</h2>
        <div>
            <label>Search a friend</label>
            <input id="tags" />
        </div>
        
        <h3>Friends</h3>


    </div>
</div>







