
@{
    ViewBag.Title = "Profile";
    ViewBag.PageId = "Profile";
}

<div class="col-md-6" id="edit_profile_wrap">

    <h2>Edit Profile</h2>

    <h3>Biography</h3>
    <input type="text" name="biography_input" id="biography_input" />

</div>

<div class="col-md-6" id="live_profile_wrap">

    <h2>View Profile</h2>

    <h3>Biography</h3>
    <p id="biography_content"></p>

</div>

