/* RESET ------------------------------- */

/* END  RESEST ------------------------- */

/* MIXINS ------------------------------ */

@mixin transition($element, $duration, $timing) {
    -webkit-transition: $element $duration $timing;
    -moz-transition: $element $duration $timing;
    transition: $element $duration $timing;
}

/* END MIXINS -------------------------- */

/* COLORS ------------------------------ */

@mixin transition($element, $duration, $timing) {
    -webkit-transition: $element $duration $timing;
    -moz-transition: $element $duration $timing;
    transition: $element $duration $timing;
}

$greenMain: #5BBF21;
$greenDark: #4ea31c;
$blueMain: #47D6C1;
$blueDark: #3ab09e; 

/* END COLORS -------------------------- */

/* FONTS ------------------------------- */

h2, h3 {
    font-family: 'Arvo', serif;
    font-weight: 400;
}

/* END FONTS --------------------------- */

/* LAYOUT ------------------------------ */

main {
    padding-top: 54px;
}
/* END LAYOUT -------------------------- */

/* HEADER ------------------------------ */

#header {
    background-color: $greenMain;
    border-bottom: 4px solid $greenDark;
}

#header a {
    color: white;
}

/* HEADER ------------------------------ */

/* MESSAGE ----------------------------- */

#drawer_message {
    background-color: $blueMain;
    position: fixed;
    bottom: 50px;
    font-weight: 700;
    left: 0;
    color: white;
    text-shadow: 1px 1px 0 #7B7B7B;
    border-bottom: 4px solid $blueDark;
    @include transition(left, .3s, linear);
}

#drawer_message p {
    margin-bottom: 0;
}

#drawer_message.show_drawer {
    left: 0;
    padding: 20px;
}

/*#drawer_message.drawer_transition {
    @include transition(left, .3s, linear);
}*/

/* MESSAGE ----------------------------- */

